html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.header {
    height: 100px;
    background: no-repeat center url("../img/pizza-bg.jpg")
}

.header h1 {
    margin: 0;
    padding-top: 25px;
    color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.sidebar {
    float: left;
    height: calc(100% - 100px);
    width: 300px;
}

label {
    display: block;
}

input {
    display: inline-block;
}

#map {
    height: calc(100% - 100px);
}

.high-rtg {
    font-weight: bold;
    color: #5cb85c;
}

.med-rtg {
    font-weight: bold;
    color: #f0ad4e;
}

.low-rtg {
    font-weight: bold;
    color: #d9534f;
}

.open-msg {
    background-color: #5cb85c;
    color: #fff;
}

.closed-msg {
    background-color: #d9534f;
    color: #fff;
}

.open-closed {
    display: inline-block;
    border-radius: 5px;
    padding: 2px 5px 1px 5px;
    margin-top: 5px;
}

#search-form {
    padding: 10px;
    height: 51px;
}

.results {
    border-top: 2px solid #ddd;
    overflow-y: auto;
    height: calc(100% - 51px);
}

#sidebar-list {
    list-style-type: none;
    padding: 0;
}

#sidebar-list li {
    list-style-type: none;
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
}

#sidebar-list li:hover {
    background-color: #f6f6f6;
}

.search-text {
    padding-left: 5px;
    height: 31px;
    width: 242px;
    border-radius: 5px;
    border: 1px solid #aaa;
}

.go-btn {
    padding: 3px 5px;
}
